<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <div class="app">
    <div class="Calc">
        <div class="way">
            <label>Speed car on start of stop way</label>
            <input id="km"  type="number" [(ngModel)]="km">
        </div>
        <div class="car-info">
            <label>Weight car in kg</label>
            <input id="weight" type="number" [(ngModel)]="weight">
        </div>
        <button (click) = "Calc()" class="btn">Calc</button>
        <div class="Res">
            <h2 id="res">{{res}}</h2>
        </div>
    </div>  
   </div>
</body>
</html>